<section>
  <div class="container">
    <div class="row">

      <div class="card border w-75">
        <div class="card-body py-4">

          <h4 class="mb-1">Tehran</h4>
          <p class="mb-2">Current temperature : <strong>5 °C</strong></p>
          <p>Feels like: <strong>4 °C</strong></p>
          <div class="d-flex flex-row align-items-center">
            <p class="mb-0 me-4">Clouds</p>
            <i class="fa-solid fa-cloud"></i>
            <i class="fa-solid fa-sun"></i>
            <i class="fa-solid fa-bolt"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-solid fa-cloud-rain"></i>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
