<section>
  <div class="container">
    <div class="row">

      <div class="card border w-75">
        <div class="card-body py-4">

          <h4 class="mb-1">Tehran</h4>
          <p class="mb-2">Current temperature : <strong>5 °C</strong></p>
          <p>Feels like: <strong>4 °C</strong></p>
          <div class="d-flex flex-row align-items-center">
            <p class="mb-0 me-4">Clouds</p>
            <!--              for adding icon-->
            <!--              <i class="fas fa-cloud fa-3x" style="color: red;"></i>-->
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
